@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
.card{
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.card-header {
    background-color: #0b6ccc;
    height: 150px;
    
}
.card-img{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 4px solid #0b6ccc;
    
}
.card-img img {
    border: 4px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
    
}
.card-body {
    padding: 80px 20px 20px 20px;
}
.card-title {
    margin-bottom: 6px;
}
.card-text {
    font-size: 16px;
    color: #555555;
    margin-bottom: 22px;
}
.card-icons {
    font-size: 1.5rem;
    color: #0b6ccc;
}
.card-icons i {
    margin: 0 2px;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 30px;
}

.card-icons i:hover {
    color: #004a99;
}
.card-buttons .btn {
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.card-buttons .btn:hover {
    background-color: #004a99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.data {
    text-align: center;
    color: #555555;
}
.data:hover {
    color: #0b6ccc;
}
.data i {
    font-size: 24px;
}
.data p {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 16px;
}
